{% extends 'base.html' %}


{% block content %}
<h1>Hall of Fame</h1>
<hr>

<table id="fame-table" class="table table-striped" border=0>
<tr><th></th><th>1st</th><th>2nd</th><th>3rd</th></tr>
<tr><td class=\"claro\">Euro Cup 2016</tb><td>Pedro</tb><td>Assia</tb><td>Omar</tb></tr>
<tr><td class=\"claro\">World Cup 2014</tb><td>Omar</tb><td>Cesar</tb><td>Rocha</tb></tr>
<tr><td class=\"claro\">Euro Cup 2012</tb><td>Anki</tb><td>Miguel</tb><td>Vania</tb></tr>
<tr><td class=\"claro\" colspan="4">&nbsp;</td></tr>
<tr><td class=\"claro\">World Cup 2010</tb><td>Winzip</tb><td>Pedro</tb><td>Sergio</tb></tr>
<tr><td class=\"claro\">Euro Cup 2008</tb><td>Pedro</tb><td>Teresa</tb><td>Ricardo</tb></tr>
<tr><td class=\"claro\">World Cup 2006</tb><td>Sergio</tb><td>Teresa</tb><td>Pedro</tb></tr>
<tr><td class=\"claro\">Euro Cup 2004</tb><td>Pedro</tb><td>Ricardo</tb><td>Brazuca</tb></tr>
<tr><td class=\"claro\">World Cup 2002</tb><td>Miguel</tb><td>Teresa</tb><td>Paulinho</tb></tr>
</table>

{% endblock %}
